*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10vh 1fr 10vh 1fr 10vh;
  grid-template-areas:
    "header header"
    "banner banner"
    "logo logo"
    "form form"
    "footer footer";
}
